*{
    margin: 0px;
    padding:0px;
}

nav{
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: blueviolet;


}

a:link{
    color:white;
}

a:visited{
    color:black;
}